<ion-content class="ion-padding">

  <div class="description">
    <div class="icon-container">
      <img src="../../../assets/ellipse.png" class="ellipse-img" alt="">
      <img src="../../../assets/lock.png" class="envelope-img" alt="">
      <img src="../../../assets/check.png" class="check-img" alt="">
    </div>

    
    
    <h2>Your password has been sucessfully changed.</h2>

    <p>Your password has been sucessfully changed</p>

  </div>

  <div class="btn-bottom">  
    <ion-button (click)="changePassword()" expand="block" >
      Change Password
    </ion-button>
  </div>
  
</ion-content>

