<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="loans">
      <ion-icon name="pie-chart"></ion-icon>
      <ion-label>Loans</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="apply-loan">
      <ion-icon name="document-text"></ion-icon>
      <ion-label>Apply Loan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />
      </ion-avatar>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
