<ion-content class="ion-padding">

  <div class="description">
    <div class="icon-container">
      <img src="../../../assets/ellipse.png" class="ellipse-img" alt="">
      <img src="../../../assets/thumbs.png" class="envelope-img" alt="">
    </div>
    
    <h2>Your account has been successful activited.</h2>

    <p>Enter the 4 digit verification number sent to you
      via Email below to change your password
    </p>

  </div>

  <div class="btn-bottom">
    <ion-button (click)="proceedToDashboard()" expand="block">
      Proceed To Dashboard
    </ion-button>
  
    <ion-button (click)="changePassword()" expand="block" class="ion-margin-top">
      Change Password
    </ion-button>
  </div>

  
</ion-content>

