<ion-content class="ion-padding">
  <ion-slides pager="true" [options]="slideOpts" mode="ios">
    <ion-slide>
      <div class="onboard-container">
          <img src="../../assets/onboard-1.png" class="img-1" alt="">

          <h1>Your loan in just single Click</h1>

          <p> In finance, a loan is the lending of money by one or more individuals, 
            organizations, or other entities to other individuals, organizations etc.
          </p>

          <ion-button (click)="applyForLoan()" expand="block">
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            Apply For Loan
          </ion-button>
          <ion-button (click)="logIn()" fill="clear"  expand="block">
            Log In
          </ion-button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="onboard-container">
          <img src="../../assets/onboard-2.png" class="img-2" alt="">
          <h1>Live above your expenses</h1>

          <p> In finance, a loan is the lending of money by one or more individuals, 
            organizations, or other entities to other individuals, organizations etc.
          </p>

          <ion-button (click)="applyForLoan()" expand="block">
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            Apply For Loan
          </ion-button>
          <ion-button (click)="logIn()" fill="clear"  expand="block">
            Log In
          </ion-button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="onboard-container">
          <img src="../../assets/onboard-3.png" class="img-3" alt="">
          <h1>Your loan at no collateral</h1>

          <p> In finance, a loan is the lending of money by one or more individuals, 
            organizations, or other entities to other individuals, organizations etc.
          </p>
        <ion-button (click)="applyForLoan()" expand="block">
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          Apply For Loan
        </ion-button>
        <ion-button (click)="logIn()" fill="clear"  expand="block">
          Log In
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>