<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="description">
    <div class="icon-container">
      <img src="../../assets/ellipse.png" class="ellipse-img" alt="">
      <img src="../../assets/envelope.svg" class="envelope-img" alt="">
    </div>
    
    <h2>Forgot Password</h2>

    <p>Enter your loaning credentials to log into your loan account dashboard.</p>

    <ion-item>
      <ion-input type="tel" placeholder="Loan Account Number"></ion-input>
      <ion-icon name="apps-outline" slot="end"></ion-icon>
    </ion-item>
  </div>

</ion-content>

<ion-footer class="ion-padding ion-no-border">
  <img src="../../assets/bg-ellipse.png" class="bg-ellipse" alt="">
  <ion-button (click)="sendVerificationCode()" expand="block">
    Send Verification Code
  </ion-button>
</ion-footer>
