<ion-header class="ion-no-border ion-padding">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="balance-card">

  </div>

  <div class="action-btns">
    <ion-button color="secondary">
      <ion-icon slot="start" name="navigate-outline"></ion-icon>
      Pay Oustanding
    </ion-button>

    <ion-button>
      <ion-icon slot="start" name="add"></ion-icon>
      New Loan
    </ion-button>
  </div>


  <ion-list-header>
    <ion-label>Quick Loan Buttons</ion-label>
  </ion-list-header>
    
    <div class="work-options">

      <div class="text-placer">
        <div class="circle">
          <ion-icon name="cash-outline"></ion-icon>
        </div>
        <span>Liquidate</span>
      </div>
  
      <div class="text-placer">
        <div class="circle">
          <ion-icon name="document-attach-outline"></ion-icon>
        </div>
        <span>Settlement</span>
      </div>
  
      <div class="text-placer">
        <div class="circle">
          <ion-icon name="people"></ion-icon>
        </div>
        <span>Support</span>
      </div>

    </div>
  

  <div class="loan-description">

    <div class="desc-container">

      <div class="content">
        <h4>Your loan in just Single Click</h4>
        <p>
          In finance, a loan is the lending of money by one or more individuals,
          organizations, or other 
        </p>
      </div>

      <img src="../../assets/onboard-2.png" alt="">
      
    </div>


    <ion-button expand="block" size="small">
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      Apply For Loan
    </ion-button>

  </div>

</ion-content>
